<h2>Users table</h2>
<table *ngIf="users.length > 0; else elseBlock" class="table table-striped">
  <caption style="caption-side:bottom">Users table</caption>
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Phones</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.phones }}</td>
    <td><button type="button" class="btn btn-outline-danger" (click)="deleteRow(i)">X</button></td>
  </tr>
  </tbody>
</table>
<ng-template #elseBlock>Table empty</ng-template>