form {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.btn-add-phone {
    margin-left: auto !important;
    width: calc(100% - 90px);
}

.btn-submit {
    display: block;
    margin-left: auto !important;
}

@media (max-width: 768px) {
    .btn-submit {
        width: 100%;
    }
}