<form [formGroup]="addForm" (ngSubmit)="onSubmit()" action="/" method="post" enctype="multipart/form-data">
    <h2>User add form</h2>
    <div class="input-group mb-3">
        <span class="input-group-text" id="firstNameInfo">First Name:</span>
        <input 
            id="first-name"
            type="text" 
            class="form-control" 
            aria-describedby="firstNameInfo" 
            placeholder="Enter first name" 
            formControlName="first_name"
        />
        <div *ngIf="submitted && _firstname && _firstname.invalid" class="invalid-feedback d-block">
            <span *ngIf="_firstname.errors?.['required']">Field is required</span>
            <span *ngIf="_firstname.errors?.['minlength']">Min length - 6</span>
            <span *ngIf="_firstname.errors?.['alreadyExists']">This name already exists</span>
        </div>
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="lastNameInfo">Last Name:</span>
        <input 
            id="last-name"     
            type="text" 
            class="form-control" 
            aria-describedby="lastNameInfo" 
            placeholder="Enter last name" 
            formControlName="last_name"
        />
        <div *ngIf="submitted && _lastname && _lastname.invalid" class="invalid-feedback d-block">
            <span *ngIf="_lastname.errors?.['required']">Field is required</span>
            <span *ngIf="_lastname.errors?.['minlength']">Min length - 6</span>
        </div>
    </div>
    <div class="form-group" formArrayName="phones">
        <div class="input-group mb-3">
            <span class="input-group-text" id="phoneInfo">Phones:</span>
            <button 
                type="button" 
                class="btn btn-success btn-add-phone" 
                aria-describedby="phoneInfo" 
                (click)="addPhone()"
            >+ Add other phone
            </button>
        </div>
        <div *ngFor="let phone of _phones.controls; let i=index">
            <div class="input-group mb-3">
                <input 
                    id="phone-{{ i }}" 
                    type="text" 
                    class="form-control" 
                    placeholder="+38(000) 00-00-000" 
                    aria-label="+38(000) 00-00-000"
                    [inputMask]="phoneInputMask"
                    [formControlName]="i" 
                />
                <button 
                    id="phone-desc-{{ i }}" 
                    type="button"
                    class="btn btn-outline-danger" 
                    (click)="deletePhone(i)"
                    [hidden]="i <= 0"
                >X
                </button>
                <div *ngIf="submitted && phone && phone.invalid" class="invalid-feedback d-block">
                    <span *ngIf="phone.errors?.['required']">Field is required</span>
                    <span *ngIf="phone.errors?.['alreadyExists']">This name already exists</span>
                    <span *ngIf="phone.errors?.['inputMask']">InputMask error</span>
                </div>
            </div>
        </div>
    </div>
    <button 
        type="submit" 
        class="btn btn-primary btn-submit"
    >Submit
    </button>
</form>
<ngb-alert #staticAlert *ngIf="!staticAlertClosed" type="success" (closed)="staticAlertClosed = true" >User added!</ngb-alert>