
<header class="container-fluid mb-4">
  <h1>Test work</h1>
</header>
<section class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-4">
        <app-form></app-form>
    </div>
  </div>
  <br />
  <hr />
  <br />
  <app-table></app-table>
</section>
<footer class="container-fluid">
  ©Copyright 2050 by nobody. All rights reversed.
</footer>